:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --main-bgd-color: #ffffff;
  --additional-bgd-color: #F5F4FA;
  --footer-bgd-color: #2F303A;
  --icon-color: #AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--main-bgd-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: relative;
}

.header__container {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ECECEC;
}

.tablet-desk-menu {
  position: relative;
  display: flex;
}
@media screen and (max-width: 767px) {
  .tablet-desk-menu {
    display: none;
  }
}

.contacts-list {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: start;
  padding: 21px 0 21px 0;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    padding: 0;
    flex-direction: row;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item + .contacts-list__item {
    margin-left: 30px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding: 32px 0;
    font-size: 14px;
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  padding: 32px 0;
  display: block;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
}

@media screen and (max-width: 767px) {
  .logo--positioned {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo--positioned {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--positioned {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
  }
}

.logo__span {
  color: #000000;
}

.logo__span--inverse {
  color: var(--main-bgd-color);
}

.menu-toggle {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--title-color);
  cursor: pointer;
}

.menu-button__icon-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle-close:hover .menu-button__icon-close, .menu-toggle-close:focus .menu-button__icon-close {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 0 40px 40px;
  background-color: var(--main-bgd-color);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mob-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mob-nav {
  margin-bottom: 40px;
}

.mob-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav-list__link:hover, .mob-nav-list__linkfocus {
  color: var(--accent-color);
}

.mob-nav-list__link--current {
  color: var(--accent-color);
}

.mob-contacts-list {
  margin-bottom: 64px;
}

.mob-contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts-list__link--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contacts-list__link--grey {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mob-social {
  display: flex;
}

.mob-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-social__item:not(:first-child) {
  padding-left: 10px;
}

.mob-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  max-width: 480px;
  height: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--footer-bgd-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-color: var(--footer-bgd-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-color: var(--footer-bgd-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-bgd-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-color: var(--footer-bgd-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desk-2x.jpg);
  }
}

.hero--centered {
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 622px;
  text-align: center;
  color: var(--main-bgd-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__button {
  margin: 0 auto;
  padding: 10px 32px;
}

.button {
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--main-bgd-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantages__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  text-transform: uppercase;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.72;
  color: var(--text-color);
}

.advantages__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}

.advantages__thumb {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--additional-bgd-color);
}

@media screen and (max-width: 1199px) {
  .tasks {
    display: none;
  }
}

.tasks {
  padding-top: 50px;
  padding-bottom: 94px;
}
.tasks__title {
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.tasks__list {
  display: flex;
}

.tasks__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.tasks__item:not(:last-child) {
  margin-right: 30px;
}

.tasks__description {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-bgd-color);
  text-transform: uppercase;
}

.team {
  padding: 60px 0 60px 0;
  background-color: var(--additional-bgd-color);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__title {
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}
.team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bgd-color);
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__photo {
  width: 100%;
}
.team__member {
  padding: 30px 0 24px 0;
  text-align: center;
}
.team__name {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__position {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}
.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: var(--main-bgd-color);
}

.customers {
  padding: 70px 0 60px 0;
}
@media screen and (min-width: 768px) {
  .customers {
    padding: 60px 0 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0 94px 0;
  }
}
.customers__title {
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
  margin-bottom: 30px;
  text-align: center;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-list__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .customers-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  outline: transparent;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--accent-color);
}

.customers-list__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover .customers-list__icon, .customers-list__link:focus .customers-list__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgd-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
  }
}

.tablet-address-thumb {
  display: flex;
}
@media screen and (max-width: 767px) {
  .tablet-address-thumb {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-address-thumb {
    align-items: baseline;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-address-thumb {
    flex-direction: row;
    align-items: baseline;
  }
}

.address-thumb {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .address-thumb {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .address-thumb {
    margin-right: 70px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .address {
    align-items: start;
  }
}

.address__item:not(:first-child) {
  margin-top: 8px;
}

.address__link {
  font-size: 14px;
  line-height: 1.72;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--white {
  color: var(--main-bgd-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .join-us {
    margin-top: 0;
  }
}

.join-us__call {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bgd-color);
}

.join-us__list {
  display: flex;
  margin-top: 20px;
}

.join-us__item {
  width: 44px;
  height: 44px;
}
.join-us__item:not(:last-child) {
  margin-right: 10px;
}

.join-us__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--main-bgd-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us__link:hover, .join-us__link:focus {
  background-color: var(--accent-color);
}

.join-us__icon {
  fill: currentColor;
}

.sign-up {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .sign-up {
    margin-top: 0;
    margin-left: auto;
    align-items: start;
  }
}

.sign-up__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bgd-color);
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .sign-up__form {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up__form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
  }
}

.sign-up__input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 15px;
  color: var(--main-bgd-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.sign-up__input::placeholder {
  font-size: 16px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .sign-up__input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.sign-up__button {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .sign-up__button {
    margin-top: 0;
  }
}

.sign-up__icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 388px;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  background-color: var(--main-bgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  animation: modal-pop-up;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
  }
}

@keyframes modal-pop-up {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  10% {
    opacity: 0.2;
  }
  20% {
    border-radius: 50%;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bgd-color);
  color: #000000;
  cursor: pointer;
  outline: transparent;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover > .close-icon, .close-btn:focus > .close-icon {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-color);
}

.modal__button {
  margin: 0 auto;
  padding: 10px 55px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-field__thumb {
  position: relative;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:hover + .form-field__icon, .form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-field__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 0 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:hover, .form-field__input:focus {
  border-color: var(--accent-color);
}

.form-field--broad {
  margin-bottom: 20px;
}

.form-field__input--broad {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input--broad::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__input--broad:focus, .form-field__input--broad:hover {
  border-color: var(--accent-color);
}

.agree {
  margin-bottom: 30px;
}

.agree__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  cursor: pointer;
}

.agree__span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agree__input:checked + .agree__label > .agree__span {
  background-color: var(--accent-color);
  border-color: transparent;
}
.agree__input:focus + .agree__label > .agree__span, .agree__input:hover + .agree__label > .agree__span {
  border-color: var(--accent-color);
}

.agree__icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agree__input:checked + .agree__label .agree__icon {
  fill: var(--main-bgd-color);
}

.agree__terms {
  margin-left: 3px;
  color: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: flex;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--title-color);
  background-color: var(--additional-bgd-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button.current {
  color: var(--main-bgd-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--main-bgd-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item {
    width: 450px;
  }
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 60px) / 3);
  }
}

.gallery__link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover, .gallery__link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery__thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .red {
    max-width: 100%;
  }
}

.gallery__img {
  max-width: 100%;
}

.gallery__layout {
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover .gallery__layout, .gallery__link:focus .gallery__layout {
  transform: translateY(0);
}

.gallery__description {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-bgd-color);
}

.gallery__bottom-info {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item:first-child .gallery__bottom-info {
    padding: 20px 24px 56px 20px;
  }
}

.gallery__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__subtitle {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */