.site-nav {
    display: flex;
}

.site-nav__item+.site-nav__item {
    margin-left: 50px;
}

.site-nav__link {
    padding: 32px 0;
    display: block;

    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color)
    }
}


.site-nav__link--current {
    position: relative;
    color: var(--accent-color);

    &::after {
        position: absolute;
        display: block;
        content: '';

        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}