.portfolio__container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item + .filter__item {
    margin-left: 8px;
}


.filter__button {
    padding: 6px 22px;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    color: var(--title-color);
    background-color: var(--additional-bgd-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.current {
            color: var(--main-bgd-color);
            background-color: var(--accent-color);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
                0px 1px 2px 0px rgba(0, 0, 0, 0.08),
                0px 3px 1px 0px rgba(0, 0, 0, 0.1);
            }
        

        &:hover,
        &:focus {
                background-color: var(--accent-color);
                color: var(--main-bgd-color);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
                    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
                    cursor: pointer;
            }
}


